
#lead {
  background-image: url("../../images/triangle-mosaic.webp");

     margin:0 auto;
     font-family: 'Open Sans', sans-serif;
     color: black;
 }
 h1,h2  {
  font-family: 'Pacifico', cursive;
}

#Johan {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
  }

  .pics img {
    margin-top: 20px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border:2px solid white;
   padding: 5px;
  }
  .center{
  position: relative;
  background-color:rgb(240, 239, 239);
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  height: auto;
  }


  #lead{position:relative;height:100vh;min-height:500px;max-height:1080px;background:url(../../images/background.webp);background-size:cover;padding:15px;overflow:hidden}
  #lead-content{position:absolute;z-index:10;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}
  #lead-content h1,#lead-content h2{margin:0}
  #lead-content h1{color:black;font-weight:500;font-size:5em;text-transform:uppercase;letter-spacing:0.05em;line-height:0.9em}
  #lead-content h2{color:black;font-weight:500;font-size:2.25em;margin-bottom:15px}
  #lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;background:rgba( black, 0.8);z-index:1}
  #lead-down{position:absolute;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:black}
  #lead-down span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:3px solid black;text-align:center}
  
  #skills{font-family: 'Open Sans', sans-serif;padding:50px 15px;text-align:center}#skills h2{font-family: 'Pacifico', cursive;color:#374054;margin-bottom:50px}#skills ul{display:block;margin:0 auto;padding:0;max-width:800px}#skills li{display:inline-block;margin:7px;padding:5px 10px;color:#374054;background:#e4e4ea;list-style:none;cursor:default;font-size:1.2em}
  #lead-content a{font-size:0.9em;padding:5px 10px;color: black;}
  
  #lead-top{position:relative;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:black}
  #lead-top span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:3px solid black;text-align:center}
  