h1 {
    font-size:xx-large
}
.main{
margin-top: 100px;
}
#Johan {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
  }

  .pics img {
    margin-top: 20px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   padding: 5px;
  }
  .center{
    background-color:rgb(240, 239, 239);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
    width: 100%;
    height: auto;
    margin-bottom: 250px;
  }
  .contact {

    text-align: center;
    margin-top: 150px;
    margin: 0 auto;
    background-color: rgb(240, 239, 239);
    width: 100%;
    padding: 20px;
    
    }
.heading{position:relative;display:inline-block;list-style: none; ;font-size:2em;font-weight:300;margin:0 0 30px 0}
.heading:after{position:absolute;content:'';top:100%;height:1px;width:50px;left:0;right:0;margin:0 auto;background:#3498db}
#lead{position:relative;height:100vh;min-height:500px;max-height:1080px;background:url(../../background3.jpeg);background-size:cover;padding:15px;overflow:hidden}
#lead-content{position:absolute;z-index:10;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}
#lead-content h1,#lead-content h2{margin:0}
#lead-content h1{color:#fff;font-weight:600;font-size:5em;text-transform:uppercase;letter-spacing:0.05em;line-height:0.9em}
#lead-content h2{color:#a0cfee;font-weight:500;font-size:2.25em;margin-bottom:15px}
#lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;background:rgba( #4aaaa5, 0.8);z-index:1}
#lead-down{position:absolute;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:#fff}
#lead-down span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #a0cfee;text-align:center}
#lead-down i{animation:pulsate 1.5s ease;animation-iteration-count:infinite;padding-top:5px}
#skills{padding:50px 15px;text-align:center}#skills h2{color:#374054;margin-bottom:50px}#skills ul{display:block;margin:0 auto;padding:0;max-width:800px}#skills li{display:inline-block;margin:7px;padding:5px 10px;color:#374054;background:#e4e4ea;list-style:none;cursor:default;font-size:1.2em}